<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Herrods Munchies</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav class="animated fade-in">
    <ul class="navbar-right">
      <li><a href="javascript:history.back()">Back</a></li>
    </ul>
  </nav>
  <p></p>
  <main>
    <div class="container">
      <div id="logo-container">
       <img id="logo" src="/racoon.png" alt="Logo" height="175px" width="175px">
      </div>
      <div class="About-Text">
       <h3>Welcome to Herrods Munchies!</h3>
       <p>
        Using this app you can mark which ingredients you have on hand,
        and get suggestions and instructions for meals that you can cook in the Harrods kitchen using said ingredients! <br>
      </p>
      <h3>
        Happy Cooking!
      </h3>
      </div>
      <div class="centered-btn">
        <button type="submit" class="CookBtn" onclick="window.location.href='/SignIn'" style="margin-right: 20px;">Log in</button>
        <button type="submit" class="CookBtn" onclick="window.location.href='/SignUp'">Sign Up</button>
      </div>
    </div>
  </main>

  <footer>
    &copy; 2023 Herrods Munchies. All rights reserved.
  </footer>
</body>
</html>
