<!DOCTYPE html>
<html>
<head>
  <title>Herrods Munchies - Ingredients</title>
  <link rel="stylesheet" href="styles.css">
  <script src="nightmode.js"></script>
</head>
<body>
    <nav class="animated fade-in">
      <ul>
        <li><a href="/About">About Us</a></li>
        <li></li>
        <li><a href="/Recipes">All Recipes</a></li>
      </ul>
      <ul class="navbar-right">
        <li><button onclick="toggleNightMode()">Toggle Night Mode</button></li>
        <li><a href="/SignIn">Log Out</a></li>
      </ul>
    </nav>


  <main>
    <!--h1>Welcome to the Flight School Cadets Cookbook</h1-->
  <div class="container">
    <form id="ingredients-form" action ='/Recipes' method="post">
      <div id="logo-container">
        <img id="logo" src="/IMG/racoon.png" alt="Logo" height="175px" width="175px">
       </div>      <h2 style="text-align: center;">Enter the ingredients you have below:</h2>
        <table>
          <tr>
            <td style="width: 50%;"><img src="/IMG/Pasta.jpg" alt="Pasta" height="200px" width="200px"></td>
            <td><label class="IMG-label">Pasta</label></td>
            <td class="checkbox-td"><input type="checkbox" class="checkmark"></td>
          </tr>
          <tr>
            <td style="width: 50%;"><img src="/IMG/Eggs.jpg" alt="Eggs" height="200px" width="200px"></td>
            <td><label class="IMG-label">Eggs</label></td>
            <td class="checkbox-td"><input type="checkbox" class="checkmark"></td>
          </tr>
          <tr>
            <td style="width: 50%;"><img src="/IMG/Bread.jpg" alt="Bread" height="200px" width="200px"></td>
            <td><label class="IMG-label">Bread</label></td>
            <td class="checkbox-td"><input type="checkbox" class="checkmark"></td>
          </tr>
          <tr>
            <td style="width: 50%;"><img src="/IMG/Cheese.jpg" alt="Cheese" height="200px" width="200px"></td>
            <td><label class="IMG-label">Cheese</label></td>
            <td class="checkbox-td"><input type="checkbox" class="checkmark"></td>
          </tr>
          <tr>
            <td style="width: 50%;"><img src="/IMG/Cream.jpg" alt="Cream" height="200px" width="200px"></td>
            <td><label class="IMG-label">Cream</label></td>
            <td class="checkbox-td"><input type="checkbox" class="checkmark"></td>
          </tr>
          <tr>
            <td style="width: 50%;"><img src="/IMG/Milk.jpg" alt="Milk" height="200px" width="170px"></td>
            <td><label class="IMG-label">Milk</label></td>
            <td class="checkbox-td"><input type="checkbox" class="checkmark"></td>
          </tr>     
        </table>
        <div class="centered-btn">
          <button type="submit" class="CookBtn">Let's Cook!</button>
        </div>
    </form>


    <!-- Suggestions and other content will be displayed dynamically -->
  </main>

  <footer>
    <!-- Footer content goes here -->
  </footer>

  <!--script src="script.js"></script-->
  <footer>
    &copy; 2023 Herrods Munchies. All rights reserved.
  </footer>
</body>
</html>
