<!DOCTYPE html>
<html>
<head>
  <title>Flight School Cadets Cookbook</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <!-- Header content goes here -->
    <nav class="animated fade-in">
        <ul>
          <li><a href="Ingredients.html">Home</a></li>
          <li><a href="Ingredients.html">Edit Ingredients</a></li>
          <li><a href="suggestions.html">Dish Suggestions</a></li>
        </ul>
      </nav>
      
  </header>

  <nav>
    <!-- Navigation menu goes here -->
  </nav>

  <main>
    <h1>Welcome to the Flight School Cadets Cookbook</h1>
  
    <form id="ingredients-form" action ='/Recipes' method="post">
      <h2>Edit Ingredients</h2>
      <p>Enter the ingredients you have below:</p>
      <input type="text" id="ingredients-input" placeholder="Enter ingredients...">
      <button type="submit">Let's Cook!</button>
    </form>




    <!-- Suggestions and other content will be displayed dynamically -->
  </main>

  <footer>
    <!-- Footer content goes here -->
  </footer>

  <!--script src="script.js"></script-->
</body>
</html>
