<!DOCTYPE html>
<html>
<head>
  <title>Flight School Cadets Cookbook</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <!-- Header content goes here -->
    <nav class="animated fade-in">
        <ul>
          <li><a href="Ingredients.html">Home</a></li>
          <li><a href="Ingredients.html">Edit Ingredients</a></li>
          <li><a href="suggestions.html">Dish Suggestions</a></li>
        </ul>
      </nav>
      
  </header>

  <nav>
    <!-- Navigation menu goes here -->
  </nav>

  <main>
    <!--h1>Welcome to the Flight School Cadets Cookbook</h1-->
  <div class="container">
    <form id="ingredients-form" action ='/Recipes' method="post">
      <h2>Edit Ingredients</h2>
      <h4 style="text-align: center;">Enter the ingredients you have below:</h4>
        <table>
          <tr>
            <td style="width: 50%;"><img src="/ING/Pasta.jpg" alt="Pasta" height="200px" width="200px"></td>
            <td><label class="ING-label">Pasta</label></td>
            <td class="checkbox-td"><input type="checkbox" class="checkmark"></td>
          </tr>
          <tr>
            <td style="width: 50%;"><img src="/ING/Eggs.jpg" alt="Eggs" height="200px" width="200px"></td>
            <td><label class="ING-label">Eggs</label></td>
            <td class="checkbox-td"><input type="checkbox" class="checkmark"></td>
          </tr>
          <tr>
            <td style="width: 50%;"><img src="/ING/Bread.jpg" alt="Bread" height="200px" width="200px"></td>
            <td><label class="ING-label">Bread</label></td>
            <td class="checkbox-td"><input type="checkbox" class="checkmark"></td>
          </tr>
          <tr>
            <td style="width: 50%;"><img src="/ING/Cheese.jpg" alt="Cheese" height="200px" width="200px"></td>
            <td><label class="ING-label">Cheese</label></td>
            <td class="checkbox-td"><input type="checkbox" class="checkmark"></td>
          </tr>
          <tr>
            <td style="width: 50%;"><img src="/ING/Cream.jpg" alt="Cream" height="200px" width="200px"></td>
            <td><label class="ING-label">Cream</label></td>
            <td class="checkbox-td"><input type="checkbox" class="checkmark"></td>
          </tr>
          <tr>
            <td style="width: 50%;"><img src="/ING/Milk.jpg" alt="Milk" height="200px" width="170px"></td>
            <td><label class="ING-label">Milk</label></td>
            <td class="checkbox-td"><input type="checkbox" class="checkmark"></td>
          </tr>     
        </table>
        <div class="centered-btn">
          <button type="submit" class="CookBtn">Let's Cook!</button>
        </div>
    </form>


    <!-- Suggestions and other content will be displayed dynamically -->
  </main>

  <footer>
    <!-- Footer content goes here -->
  </footer>

  <!--script src="script.js"></script-->
</body>
</html>
