<!DOCTYPE html>
<html>
<head>
  <title>Flight School Cadets Cookbook</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <!-- Header content goes here -->
    <nav class="animated fade-in">
        <ul>
          <li><a href="Ingredients.html">Home</a></li>
          <li><a href="Ingredients.html">Edit Ingredients</a></li>
          <li><a href="suggestions.html">Dish Suggestions</a></li>
        </ul>
      </nav>
      
  </header>

  <nav>
    <!-- Navigation menu goes here -->
  </nav>

  <main>
    <h1>Meals you can cook:</h1>

    <!-- Suggestions and other content will be displayed dynamically -->
  </main>

  <footer>
    <!-- Footer content goes here -->
  </footer>

  <!--script src="script.js"></script-->
</body>
</html>
