<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
  <title>SignIn</title>
  <script src="nightmode.js"></script>
</head>
<body>

    <!-- Navigation links to other pages -->
    <nav>
      <ul>
        <li><a href="/About">About Us</a></li>
      </ul>
      <ul class="navbar-right">
        <li><button onclick="toggleNightMode()">Toggle Night Mode</button></li>
      </ul>

    </nav>
    <p></p>
  <section class="main-content">
    <div class="container">

      <!-- home.html -->

<form action="/Ingredients" method="post">
  <div id="logo-container">
    <img id="logo" src="/racoon.png" alt="Logo" height="175px" width="175px">
  </div>
    <h2>Login</h2>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="centered-btn">
      <button type="submit" class="CookBtn">Login</button>
    </div>
  </form>
      <p>Don't have an account? <form action ='/SignUp' method="post">
      <div class="centered-btn">
        <button type="submit" class="CookBtn">Sign-Up</button>
      </div></form>
    </div>
  </section>

  <script src="script.js"></script> <!-- Link to your JavaScript file -->
  <footer>
    &copy; 2023 Herrods Munchies. All rights reserved.
  </footer>
</body>
</html>
