doctype html
head
  title Herrods Munchies - Recipes
  link(rel='stylesheet' href='styles.css')
  script(src='nightmode.js')
nav.animated.fade-in
  ul
    li
      a(href='/PsAbout') About Us
    li
    li
      a(href='/PIngredients') Edit Ingredients
  ul.navbar-right
    li
      button(onclick='toggleNightMode()') Toggle Night Mode
    li
      a(href='/PSignIn') Log Out
main
  .container
    #logo-container
      img#logo(src='/IMG/RacoonLogo.png' alt='Logo' height='175px' width='175px')
    h2 Meals you can cook
    br
    table
      each row in RecipesData
        tr.container
          td.RtdImg 
             img(src='/IMG/Recipes/' + row.Picture, alt=row.Name, height="200px", width="200px")
          td.RtdName= row.Name
          td.RtdInst= row.Instructions             
footer
  | &copy; 2023 Herrods Munchies. All rights reserved.
