doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='styles.css')
  title Herrods Munchies - Sign Up
  script(src='nightmode.js')
nav.animated.fade-in
  ul
    li.right-link
      a(href='/PSignIn') Login
  ul.navbar-right
    li
      button(onclick='toggleNightMode()') Toggle Night Mode
p
.container
  #logo-container
    img#logo(src='/IMG/racoon.png' alt='Logo' height='175px' width='175px')
  h2 Sign Up
  form(action='/NewSignUp' method='POST' onsubmit='return validateForm()')
    // Full Name
    .form-group
      label(for='FullName') Full Name
      input#fullName(type='text' name='FullName' pattern='[A-Za-z]+ [A-Za-z]+' oninvalid="this.setCustomValidity('Please enter a valid full name.')" oninput="this.setCustomValidity('')" required='')
    // ID Number
    .form-group
      label(for='ID') ID Number
      input#idNumber(type='text' name='ID' pattern='[0-9]{9}' required='' oninvalid="this.setCustomValidity('Please enter a 9-digit number.')" oninput="this.setCustomValidity('')")
    // Username
    .form-group
      label(for='UserName') Username
      input#username(type='text' name='UserName' required='')
    // Password
    .form-group
      label(for='Password') Password
      input#password(type='password' name='Password' required='')
    // email
    .form-group
      label(for='Email') Email
      input#email(type='email' name='Email' required='')
    // Course Number
    .form-group
      label(for='CourseNumber') Course Number
      select#courseNumber(name='CourseNumber' required='')
        option(value='') Select course number
        option(value='188') 188
        option(value='189') 189
    .centered-btn
      button.CookBtn(type='submit') Submit
p
footer
  | &copy; 2023 Herrods Munchies. All rights reserved.
